{{! partials/premium-message.hbs }}
<div class="premium-message">
  <h2>This post is for paying subscribers only</h2>
  <p>Subscribe to access all lessons and premium content.</p>
  <a href="{{@site.url}}/subscribe/" class="subscribe-button">Subscribe now</a>
  <p class="signin-prompt">Already have an account?
    <a href="{{@site.url}}/signin/">Sign in</a></p>
</div>